body {
    /*background-color: #70CF51;*/
    background-image: url("../img/background.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0; padding:0;
    height: 100vh;
}

body * {
    position: absolute;
    display: block;
    margin:0; padding:0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}





player-object
{
    position: absolute;
    display: inline-block;
    background-image: url("../img/normal.png");
    background-size: cover;
    height: 120px;
    width:65px;
}

player-object.jump
{
    background-image: url("../img/jump.png");
    display: inline-block;
    background-size: cover;
    height: 90px;
    width:40px;
}

player-object.run
{
    animation: run .25s linear infinite;
}


bug-object
{
    position: relative;
    display: inline-block;
    background-image: url("../img/passiv-bug.png");
    height: 50px;
    width:65px;
}

bug-object.jump
{
    animation: bug-jump 1s linear infinite;
}

cloud-object
{
    position: absolute;
    display: inline-block;
    background-image: url("../img/small-cloud.png");
    background-size: contain;
    background-position: center;
    height: 80px;
    width:150px;
    /*animation: cloud-animation 10s linear infinite;*/
}

pipe-object
{
    position: absolute;
    display: inline-block;
    background-image: url("../img/pipe.png");
    background-size: cover;
    height: 150px;
    width:80px;
}

platform-object
{
    position: relative;
    display: inline-block;
    background-image: url("../img/platform.png");
    background-size: cover;
    height: 60px;
    width:325px;
}

spike-object
{
    position: relative;
    display: inline-block;
    background-image: url("../img/spike.png");
    background-size: cover;
    height: 60px;
    width:30px;
}

cat-object
{
    position: relative;
    display: inline-block;
    background-image: url("../img/sleeping-cat.png");
    background-size: cover;
    height: 50px;
    width:65px;
}

coin-object
{
    position: relative;
    display: inline-block;
    background-image: url("../img/coin.png");
    background-size: cover;
    height: 40px;
    width:40px;
}

ground-object
{
    position: absolute;
    bottom: 40vh;
    display: inline-block;
    background-image: url("../img/paper-ground.jpg");
    background-size: cover;
    height: 40vh;
    width:100vw;
}

drop-object{
    position: absolute;
    background-image: url("../img/coin.png");
    background-size: contain;
    height: 40px;
    width: 40px;
}


.start-button{
    position: relative;
}

.start-button:hover{
    animation: start-button-animation 2s ease infinite ;
}

.delay-1{
    animation-delay: -1s;
}

.delay-2{
    animation-delay: -2s;
}

.delay-3{
    animation-delay: -3s;
}

.delay-4{
    animation-delay: -4s;
}

@keyframes start-button-animation {
    0%{
        width: 600px;
        height: auto;
    }

    50%{
        width: 700px;
        height: auto;
    }

    100%{
        width: 600px;
        height: auto;
    }
}

@keyframes cloud-animation {
    0%{
        left: 0;
     }
    20%{
        left: 50vw;
    }
    40%{
        left: 75vw;
    }
    60%{
        left: 100vw;
    }
    80%{
        left: 150vw;
    }
    100%{
        left: 175vw;
    }
}

@keyframes bug-jump {

    50%{
        background-image: url("../img/jump-bug.png");
        top: 30vh
    }

    100%{
        background-image: url("../img/passiv-bug.png");
        top:50vh;
    }
}



@keyframes run
{
    0%{
        background-image: url("../img/run-left.png");
        width:90px;
    }
    50%{
        background-image: url("../img/run-right.png");
        width:90px;
    }
    100%{
        background-image: url("../img/run-left.png");
        width:90px;
    }
}